name: style
on:
  push:
    branches:
      - main
      - release**
  pull_request:
    branches:
      - main
      - release**
defaults:
  run:
    shell: bash
jobs:
  ruff:
    name: ruff
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6.0.2
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7.3.1
        with:
          python-version: '3.14'
          enable-cache: true
          activate-environment: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock
      - name: Install dependencies
        run: uv sync --locked --extra style
      - name: List dependencies
        run: uv pip list
      - name: Run ruff checks
        run: |
          ruff check --output-format=github --no-fix .
          ruff format --diff
  ty:
    name: ty
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6.0.2
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7.3.1
        with:
          python-version: '3.14'
          enable-cache: true
          activate-environment: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock
      - name: Install dependencies
        run: uv sync --locked --extra datasets --extra models --extra style --extra tests
      - name: List dependencies
        run: uv pip list
      - name: Run ty checks
        run: ty check --output-format=github
  prettier:
    name: prettier
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6.0.2
      - name: Set up nodejs
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'
      - name: Installing prettier
        run: |
          npm install
          npm cache clean --force
      - name: List npm dependencies
        run: npm ls --all
      - name: Run prettier formatting
        run: npx prettier --check .
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
