name: tutorials
on:
  push:
    branches:
      - main
    paths:
      - docs/tutorials/**
  pull_request:
    branches:
      - main
    paths:
      - docs/tutorials/**
defaults:
  run:
    shell: bash
jobs:
  notebooks:
    name: notebooks
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6.0.2
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7.3.0
        with:
          python-version: '3.14'
          enable-cache: true
          activate-environment: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock
      - name: Install dependencies
        run: |
          uv sync --locked --extra docs --extra tests
          uv pip install planetary_computer pystac tensorboard h5py scikit-learn
      - name: List dependencies
        run: uv pip list
      - name: Run notebook checks
        run: pytest --force-enable-socket --nbmake --durations=10 docs/tutorials
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
